*
{
    margin: 0;
    padding: 0;
}
body{
    font-family: "poppins";

}
.uppernav
{
    background-color: #FFFFFF;
    text-align: center;
    padding: 15px;
}
a
{
    color: #36393E;
    font-family: "Poppins";
    font-size: 15px;
}
.navbar
{
    position: sticky;
    top:0;
}
.bottomnav
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
    font-family: "poppins";
    margin-top: -10px;
}
.bottommidnav>button{
    border: none;
    background-color: transparent;
    font-family: "poppins";
    font-size: 16px;
    padding: 15px;
}
.bottommidnav>button:hover{
    background-color: #46484d13;
    border-radius: 200px;
    padding:5px 15px 5px 15px;
}
.bottomendnav>button{
    border: none;
    background-color: transparent;
    font-family: "poppins";
    font-size: 16px;
    padding: 15px;
}
.bottomendnav>button:hover{
    background-color: #46484d13;
    border-radius: 200px;
    padding:5px 15px 5px 15px;
}
.container{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    position : sticky;
    top:20%;
    left:0;
    right: 0;
}
.innercontainer
{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#model
{
    font-size: 40px;
    font-weight: 500;
    color:black;
}
#des
{
    color: #36393E;
}
#btn1
{
    border: none;
    background-color: #3B3E43;
    color:white;
    font-family: "poppins";
    padding:10px;
    width:250px;
    border-radius: 100px;
    text-transform: uppercase;
    font-weight: 500;
}
#btn2
{
    border: none;
    background-color: white;
    color:#3B3E43;
    font-family: "poppins";
    padding:10px;
    width:250px;
    border-radius: 100px;
    text-transform: uppercase;
    font-weight: 500;
    margin-left: 50px;
}
.underimage
{
    font-size: 0;
    margin-top: -610px;
}